{% extends "base.html" %}
{% block content %}
<div class="main">

   
        <div class="profil">
           <h1 class="about">Dibuat Oleh:</h1>
           <p class="p-pro">
            Nama    : Raditya RF
            <br>
            NPM     : 55418740
           </p>
        </div>
        <br>
        <br>
        <div class="app">
            <h1 class="about">Kegunaan Aplikasi:</h1>
            <p class="about-aplikasi">
                Aplikasi ini dibuat untuk melakukan analisis sentimen dari ulasan aplikasi M - Pajak
                dari Google Playstore. Aplikasi dapat melihat hasil analisis dari ulasan negatif, positif, dan juga netral.
                Aplikasi analisis sentimen ini menggunakan metode Long Short - Term Memory dan Lexicon Based
            </p>
        </div>
    
   
</div>

{% endblock %}